<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Tutorial</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
<h1> Hello vue :)</h1>

<div id="app">
  
    <a v-bind:href="url" target="_blank">Best Man Ever</a>
    <div v-if="showBooks">
    <li v-for="book in books" :class="{ fav: book.isFav}" @click="toggleFav(book)">
        <img :src="book.img" :alt="book.title">
        <h3>{{ book.title }}</h3>
        <p>{{ book.author }}</p>
    </li>
</uL>
</div>`

<!-- <p>{{ books[0].title }} - {{ books[0].author }} - {{ age }} </p> -->
<button @click="toggleShowBooks">
    <span v-if="showBooks">Hide Books</span>
    <!--<span v-if="!showBooks">Show Books</span> -->
    <span v-else>Show Books</span>
</button>
<!--<div v-show="showBooks">currently showing books</div>-->
<br>
<!-- Mouse events
<div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
<div class="box" @mouseleave="handleEvent">mouseleave</div>
<div class="box" @dblclick="handleEvent">double click</div>
<div class="box" @mousemove="handleMousemove">positon - {{ x }} {{ y }}</div>
v-on is a directive that lets us use onclick -->
<!--<button v-on:click="age++">increase age</button>
<button v-on:click="age--">decrease age</button>
<div @click="changeTitle('Pinkman')">new title</div> -->
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="script.js"></script>
</body>
</html>